{% extends 'base.html' %}
{% load static %}


{% block content %}
    {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<div class="categories-container">
    <div class="categories-list">
        <a href="{% url 'category' 'Легковые' %}" class="btn category-btn">Легковые</a>
        <a href="{% url 'category' 'Коммерческие' %}" class="btn category-btn">Коммерческие</a>
        <a href="{% url 'category' 'Спецтехника' %}" class="btn category-btn">Спецтехника</a>
        <a href="{% url 'category' 'Мото' %}" class="btn category-btn">Мото</a>
        <a href="{% url 'category' 'Электро' %}" class="btn category-btn">Электро</a>
        <a href="{% url 'category' 'Запчасти' %}" class="btn category-btn">Запчасти</a>
        <a href="{% url 'category' 'Услуги' %}" class="btn category-btn">Услуги</a>
    </div>

<div class="side-action-buttons">
    {% if user.is_authenticated %}
        <a href="{% url 'add_announcement' %}" class="category-btn">Добавить объявление</a>
        <div class="profile-dropdown">
            <a href="#" class="category-btn">Профиль</a>
            <div class="dropdown-content">
                <a href="{% url 'index' %}">Мои объявления</a>
                <div>Баланс: сом</div>
                <a href="{% url 'index' %}">Избранное</a>
                <a href="{% url 'index' %}">Сообщения</a>
                <a href="{% url 'index' %}">Личный кабинет</a>
                <a href="{% url 'index' %}">Настройки</a>
                <form method="post" action="{% url 'accounts:logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-logout">Выйти</button>
                </form>
            </div>
        </div>
    {% else %}  
        <form method="post" action="{% url 'accounts:login' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="category-btn">Войти</button>
        </form>
        <a href="{% url 'accounts:register' %}" class="category-btn">Регистрация</a>
    {% endif %}
</div>
</div>

<div class="container py-3" style="max-width: 1140px;">
    <!-- Список машин -->
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-3">
        {% for car in cars %}
        <div class="col">
            <a href="{% url 'car_detail' car.id %}" class="text-decoration-none text-dark">
                <div class="card h-100">
                    <div id="carousel{{ car.id }}" class="carousel slide">
                        <div class="carousel-inner">
                            {% for image in car.images.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{ image.image.url }}" class="d-block w-100" alt="Car Image">
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ car.id }}" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ car.id }}" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>

                    {% if car.images.all %}
                    <div class="carousel-thumbnails">
                        {% for image in car.images.all|slice:":4" %}
                        <img src="{{ image.image.url }}" data-bs-target="#carousel{{ car.id }}" data-bs-slide-to="{{ forloop.counter0 }}">
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="card-body py-2">
                        <h5 class="card-title">{{ car.mark }} {{ car.model }}</h5>
                        <p class="price-text">Цена: {{ car.price }} $</p>
                        <p class="info-text">Год выпуска: {{ car.year }}</p>
                        <p class="info-text">Дата: {{ car.created_at }}</p>
                        <p class="info-text">Регион: {{ car.region }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
